.form{
    position: absolute;
    width: 100%;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    background-color:#13071e;
    form { 
        padding: 50px 10px;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 1px 1px 7px #000; 
        color: #fff;
        .circle_icon {
            width: 100px;
            height: 100px;
            background-color: #fff;
            box-shadow: 1px 1px 10px #000;
            border-radius: 100%;
            margin: auto;
            position: absolute;
            right: 0;
            left: 0;
            top: -50px;
            &__img {
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }
        .form__footer {
            height: 38px;
            width: 100%;
            background-color: #1f071e;
            position: absolute;
            bottom: 0;
            left: 0;
            border-radius: 0 0 10px 10px;
            .btn-login {
                background-color:#1f071e;
                border-color:#1f071e;
                color: #FFF;    
                transition: all 1s;
                &:hover {
                    transform: scale(1.2);
                    transition: all 1s;
                }
                span {
                    width: 50%;
                    height: 100%;
                    background-color: #fff;
                    transform: skewX(35deg);
                    z-index: 3;
                }
            }
        }

    }
}
