<section class="container">
  <div class="form justify-content-md-center align-items-center row">
    <form [formGroup]="login" (submit)="ngSubmit()" class="col-md-4 col-lg-3">
      <div class="circle_icon">
        <img class="circle_icon__img" src="./../../assets/logo.png" alt="" width="100px">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Usuário</label>
        <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1"  placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Senha</label>
        <input type="password" formControlName="senha" class="form-control" id="exampleInputPassword1" placeholder="Senha">
      </div>
      <!-- <span class="danger" *ngIf="login.invalid">Usuário ou Senha incorreta</span> -->
      <div class="form__footer">
        <button type="submit" class="btn btn-login">Entrar</button>
      </div>
    </form>
  </div>
</section>
